@{
    ViewData["Title"] = "D Page";
}

<h1> Deleted student record</h1>
<form action="" method="post">
    ID: <input type="number" name="id" value="" >  <br><br>
    Firstname: <input type="text" name="fn" value="" >  <br><br>
    Lastname: <input type="text" name="ln" value="">  <br><br>
    Email: <input type="text" name="email" value="">  <br><br>
    <input type="submit" value="Submit" value="">  <br><br>
</form>
