/* _content/MVCApp/Views/Login/Index.cshtml.rz.scp.css */
body[b-4f5mdz3rnj],html[b-4f5mdz3rnj] {
    
    height: 100%;
}

#profile-img[b-4f5mdz3rnj] {
    height:180px;
}
.h-80[b-4f5mdz3rnj] {
    height: 80% !important;
}
/* _content/MVCApp/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-m9pgagwe8q] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-m9pgagwe8q] {
  color: #0077cc;
}

.btn-primary[b-m9pgagwe8q] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-m9pgagwe8q], .nav-pills .show > .nav-link[b-m9pgagwe8q] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-m9pgagwe8q] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-m9pgagwe8q] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-m9pgagwe8q] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-m9pgagwe8q] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-m9pgagwe8q] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/MVCApp/Views/Students/Edit.cshtml.rz.scp.css */

*[b-0wtejo0dk3]{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body[b-0wtejo0dk3]{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
}
.container[b-0wtejo0dk3]{
  max-width: 800px;
  background: #fff;
  width: 800px;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.container .text[b-0wtejo0dk3]{
  text-align: center;
  font-size: 41px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container form[b-0wtejo0dk3]{
  padding: 30px 0 0 0;
}
.container form .form-row[b-0wtejo0dk3]{
  display: flex;
  margin: 32px 0;
}
form .form-row .input-data[b-0wtejo0dk3]{
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}
form .form-row .textarea[b-0wtejo0dk3]{
  height: 70px;
}
.input-data input[b-0wtejo0dk3],
.textarea textarea[b-0wtejo0dk3]{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
}
.input-data input:focus ~ label[b-0wtejo0dk3], .textarea textarea:focus ~ label[b-0wtejo0dk3],
.input-data input:valid ~ label[b-0wtejo0dk3], .textarea textarea:valid ~ label[b-0wtejo0dk3]{
  transform: translateY(-20px);
  font-size: 14px;
  color: #3498db;
}
.textarea textarea[b-0wtejo0dk3]{
  resize: none;
  padding-top: 10px;
}
.input-data label[b-0wtejo0dk3]{
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.textarea label[b-0wtejo0dk3]{
  width: 100%;
  bottom: 40px;
  background: #fff;
}
.input-data .underline[b-0wtejo0dk3]{
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.input-data .underline[b-0wtejo0dk3]:before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline[b-0wtejo0dk3]:before,
.input-data input:valid ~ .underline[b-0wtejo0dk3]:before,
.textarea textarea:focus ~ .underline[b-0wtejo0dk3]:before,
.textarea textarea:valid ~ .underline[b-0wtejo0dk3]:before{
  transform: scale(1);
}
.submit-btn .input-data[b-0wtejo0dk3]{
  overflow: hidden;
  height: 45px!important;
  width: 120%!important;
}
.submit-btn .input-data .inner[b-0wtejo0dk3]{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  transition: all 0.4s;
}
.submit-btn .input-data:hover .inner[b-0wtejo0dk3]{
  left: 0;
}
.submit-btn .input-data input[b-0wtejo0dk3]{
  background: none;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
@media (max-width: 700px) {
  .container .text[b-0wtejo0dk3]{
    font-size: 30px;
  }
  .container form[b-0wtejo0dk3]{
    padding: 10px 0 0 0;
  }
  .container form .form-row[b-0wtejo0dk3]{
    display: block;
  }
  form .form-row .input-data[b-0wtejo0dk3]{
    margin: 35px 0!important;
  }
  .submit-btn .input-data[b-0wtejo0dk3]{
    width: 40%!important;
  }
}
/* _content/MVCApp/Views/Students/Index.cshtml.rz.scp.css */

table[b-7h4a977y7o], th[b-7h4a977y7o], td[b-7h4a977y7o] {
    border: 1px solid white;
    border-collapse: collapse;
    margin-left: 16%;
    padding: 20px;
}
th[b-7h4a977y7o], td[b-7h4a977y7o] {
    background-color: #96D4D4;
}
/* _content/MVCApp/Views/Students/Insert.cshtml.rz.scp.css */

*[b-6wgt1duroi]{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  body[b-6wgt1duroi]{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
  }
  .container[b-6wgt1duroi]{
    max-width: 800px;
    background: #fff;
    width: 800px;
    padding: 25px 40px 10px 40px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  .container .text[b-6wgt1duroi]{
    text-align: center;
    font-size: 41px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .container form[b-6wgt1duroi]{
    padding: 30px 0 0 0;
  }
  .container form .form-row[b-6wgt1duroi]{
    display: flex;
    margin: 32px 0;
  }
  form .form-row .input-data[b-6wgt1duroi]{
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
  }
  form .form-row .textarea[b-6wgt1duroi]{
    height: 70px;
  }
  .input-data input[b-6wgt1duroi],
  .textarea textarea[b-6wgt1duroi]{
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgba(0,0,0, 0.12);
  }
  .input-data input:focus ~ label[b-6wgt1duroi], .textarea textarea:focus ~ label[b-6wgt1duroi],
  .input-data input:valid ~ label[b-6wgt1duroi], .textarea textarea:valid ~ label[b-6wgt1duroi]{
    transform: translateY(-20px);
    font-size: 14px;
    color: #3498db;
  }
  .textarea textarea[b-6wgt1duroi]{
    resize: none;
    padding-top: 10px;
  }
  .input-data label[b-6wgt1duroi]{
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  .textarea label[b-6wgt1duroi]{
    width: 100%;
    bottom: 40px;
    background: #fff;
  }
  .input-data .underline[b-6wgt1duroi]{
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
  }
  .input-data .underline[b-6wgt1duroi]:before{
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: #3498db;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
  }
  .input-data input:focus ~ .underline[b-6wgt1duroi]:before,
  .input-data input:valid ~ .underline[b-6wgt1duroi]:before,
  .textarea textarea:focus ~ .underline[b-6wgt1duroi]:before,
  .textarea textarea:valid ~ .underline[b-6wgt1duroi]:before{
    transform: scale(1);
  }
  .submit-btn .input-data[b-6wgt1duroi]{
    overflow: hidden;
    height: 45px!important;
    width: 150%!important;
  }
  .submit-btn .input-data .inner[b-6wgt1duroi]{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
    transition: all 0.4s;
  }
  .submit-btn .input-data:hover .inner[b-6wgt1duroi]{
    left: 0;
  }
  .submit-btn .input-data input[b-6wgt1duroi]{
    background: none;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
    z-index: 2;
  }
  @media (max-width: 700px) {
    .container .text[b-6wgt1duroi]{
      font-size: 30px;
    }
    .container form[b-6wgt1duroi]{
      padding: 10px 0 0 0;
    }
    .container form .form-row[b-6wgt1duroi]{
      display: block;
    }
    form .form-row .input-data[b-6wgt1duroi]{
      margin: 35px 0!important;
    }
    .submit-btn .input-data[b-6wgt1duroi]{
      width: 40%!important;
    }
  }
