@{
    ViewData["Title"] = "Login Page";
}

<div class="text-center" style="margin-top: 100px;border:solid 1px; " >
        
        <form method="post" style="margin: 50px;">
            <fieldset>
                <legend><h2>Login</h2></legend> <br><br>
                
                
                <label for="username">User Name:</label>
                <input type="text" name="username" placeholder="username" />
                <br><br>
                <label for="password">password:</label>
                <input type="password" name="password" placeholder="password" />
                
                <br><br>
                <input type="submit" class="btn btn-primary mb-2" value="submit"> <br> <br>
            </fieldset>
        </form>
        

    </div>