
table[b-7h4a977y7o], th[b-7h4a977y7o], td[b-7h4a977y7o] {
    border: 1px solid white;
    border-collapse: collapse;
    margin-left: 20%;
    padding: 20px;
}
th[b-7h4a977y7o], td[b-7h4a977y7o] {
    background-color: #96D4D4;
}
