table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    font-size: 20px;
  }
  th, td {
    background-color: #96D4D4;
    padding: 20px;
  }

  .center {
    margin-top: 12%;
    margin-left: 36%;
   
  }
  