table[b-21fpw2d2qw], th[b-21fpw2d2qw], td[b-21fpw2d2qw] {
    border: 1px solid white;
    border-collapse: collapse;
    font-size: 20px;
  }
  th[b-21fpw2d2qw], td[b-21fpw2d2qw] {
    background-color: #96D4D4;
    padding: 20px;
  }

  .center[b-21fpw2d2qw] {
    margin-top: 12%;
    margin-left: 36%;
   
  }
  